<% layout("/layouts/boilerplate") %>

  <body>


    <div class="card mt-3  col-6 mx-auto" style="width:20rem;">
      <img src="<%= listing.image.url %>" class="card-img-top" alt="Listing_Image">
      <div class="card-body">
        <p class="card-text"><b>
            <%= listing.title %>
          </b> <br>

          <br>
        <h3>Owner: <i>
            <%= listing.owner.username %>
          </i></h3>
        <%= listing.description %> <br>
          <%= listing.price %> <br>
            <%= listing.location %> <br>
              <%= listing.country %> <br>

                </p>
      </div>  

      <% if(currUser && currUser._id.equals(listing.owner._id)) { %>

        <a href="/listings/<%= listing._id %>/edit" class="btn btn-dark mt-3">Edit this Listing</a>
        <br> <br>
    
        <form method="POST" action="/listings/<%=listing._id%>?_method=DELETE" class="btn btn-dark">
          <button>Delete this listing</button>
        </form>
        <% } %>

    </div>


  
      <hr>
       <div class=" col-6 mx-auto">
      <% if(currUser) { %>
      <form action="/listings/<%= listing._id %>/reviews" method="POST" class="needs-validation" novalidate>
        <h4> Leave a Review </h4>

        <div class="rating">
          <label for="rating" class="form-label">Give rating</label>
          <input type="range" min="1" max="5" id="rating" name="review[rating]" class="form-range">
        </div>

 

        <div class="comment">
          <label for="comment" class="form-label">Leave comment</label>
          <textarea name="review[comment]" id="comment" cols="10" rows="3" class="form-control" required></textarea>
          <div class="invalid-feedback">Please enter comments in box.</div>
        </div>

        <button class="mt-3">Submit</button>
</form>

    </div>
    <% } %>

    <hr>
    


    <div class="col-8 offset-2 mb-3 mt-3">
      <% if(listing.reviews.length > 0) {  %>
    <p><b>ALL Reviews</b></p>
      <div class="row">
        <div class="col-6">
    
        
    <%  for(review of listing.reviews) { %>
      <div class="card  mb-3 mt-3">
        <div class="card-body">
          <h5 class="card-title">  @<%= review.author.username || 'Anonymous' %></h5>
          <p class="card-text"><%=review.comment %></p>
    
          <p class="card-text"><%= review.rating %> Star </p>
    
          <form method="POST" action="/listings/<%= listing._id %>/reviews/<%=review._id%>?_method=DELETE">
            <button class="btn btn-outline-dark">Delete Review</button>
          </form>
          <div> 
       <% } %>
    
      </ul>
    </div>
    <% } %>
    </div>
    </div>
    </div>
    </div>
    </div>





        <div class="col-6 offset-3 mb-3">
          <h3>where you'll be</h3>
          <div id="map"></div>
          <script>
            let mapToken = "<%= process.env.MAP_TOKEN %>";
            console.log(mapToken);
            mapboxgl.accessToken = mapToken;
            const map = new mapboxgl.Map({
              container: 'map', // container ID
              center: [-74.5, 40], // starting position [lng, lat]
              zoom: 9 // starting zoom
            });
          </script>
        </div>



        <script>
          (() => {
            'use strict'


            const forms = document.querySelectorAll(".needs-validation");


            Array.from(forms).forEach(form => {
              form.addEventListener('submit', event => {
                if (!form.checkValidity()) {
                  event.preventDefault()
                  event.stopPropagation()
                }

                form.classList.add('was-validated')
              }, false)
            })
          })()
        </script>

        <link href="https://api.mapbox.com/mapbox-gl-js/v3.3.0/mapbox-gl.css" rel="stylesheet">
        <script src="https://api.mapbox.com/mapbox-gl-js/v3.3.0/mapbox-gl.js"></script>


  </body>